<form method="post" action="{{ path('option_laisse_delete', {'id': option_laisse.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option_laisse.id) }}">
    <button class="btn">Delete</button>
</form>
