{% extends 'base.html.twig' %}

{% block title %}Edit Collier{% endblock %}

{% block body %}
    <h1>Edit Collier</h1>

    {{ include('collier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collier_index') }}">back to list</a>

    {{ include('collier/_delete_form.html.twig') }}
{% endblock %}
